<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EL JUEGO DE LA MEMORA</title>
  <!-- Latest compiled and minified CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class="container">
  <h1 style="margin: 15px;">El juego de la memoria</h1>
  <h3 style="margin: 15px;">Total de imagenes seleccionadas: 0</h3>

  <button type="button" class="btn btn-success" style="margin-left: 15px;">Agregar imágenes</button>

  <!--
  <button id="agregarimagenes" class="btn btn-primary">
      <input type="file" id="filechooser">Agregar imagenes</button>
  <div id="imagenes" style="margin: 15px;"></div>
  -->

  <div id="tablero" style="margin: 15px;">
    <div id="columnas" style="display: flex;">

    </div>
  </div>

  <div id="stargame" style="margin: 15px; display: none;">
    <button type="button" id="activarjuego" class="btn btn-success">Comenzar juego</button>
  </div>
  <!--
  <div id="Randomize" style="margin: 15px;display: none;">

  </div>
  <div id="Ayuda" style="margin: 15px;display: none;">

  </div>
  -->
  <p>Ingrese el total: </p>
  <input id="cantidadDeFotos" name="personajes">
  <button type="button" id="prueba" class="btn btn-success">Probar</button>


  <div class="filas">

  </div>

</div>

<script>

  $(document).ready(function () {

    $("#prueba").click(function (){
      var cantidadDeFotos = $("#cantidadDeFotos").val();
      var columnas;
      var filas;
      var divfilas = $(".filas");

      for(var i=1;i<=cantidadDeFotos;i++){
        var cociente = cantidadDeFotos/i;
        if((Math.abs(cociente-i)===1) || (cociente===i)){
          if (i%2 === 1 ){
            columnas = i;
            filas = cociente;
          }else if (cociente%2 === 1){
            columnas = cociente;
            filas = i;
          }
          $("#stargame").css('display','block');
          break;
        }else if (i===cantidadDeFotos-1){
          columnas=0;
          filas=0;
          break;
        }
      }

    });

    var imagenes = [
      "/abra.png",
      "/aerodactyl.png",
      "/arbok.png",
      "/arcanine.png",
      "/beedrill.png",
      "/charizard.png"
    ];

    var cantidadElementos = imagenes.length;

    // Función para generar el código HTML de cada imagen
    function generarHTMLImagen(ruta) {
      return '<img src="' + ruta + '" style="height: 100px; width: 100px;">';
    }

    function generarBoton(imagenHTML,index,iterador){
      return '<button type="button" class="btn btn-primary boton_imagen_' + index + '"  id="imagen_' + index + 'boton_' + iterador + '" style="padding: 0; margin: 5px;">\n' +
              '    <div style="display: flex;">\n' +
              '      <div style="position: relative; margin: 5px;">\n' +
              imagenHTML +
              '      </div>\n' +
              '      <div style="height: 100px; width: 100px;margin: 5px; background: cornflowerblue; position: absolute;display: block" ' +
              'id="imagen_' + index + 'cuadro_' + iterador + '"></div>\n' +
              '    </div>\n' +
              '  </button>';
    }

    // Recorrer el array de imágenes y agregar los elementos al contenedor deseado
    var $contenedor = $(".filas"); // Reemplaza ".filas" con el selector de tu contenedor
    $.each(imagenes, function(index, imagen) {

      for(var iterador=0;iterador<2;iterador++){
        var imagenHTML = generarHTMLImagen(imagen);
        var botonHTML = generarBoton(imagenHTML,index,iterador);
        $contenedor.append(botonHTML);
      }
    });

    var nombresDivs = [];
    var nombresBoton = [];
    var imagen = [];
    for (var primero=0;primero<cantidadElementos;primero++){
      for (var segundo=0;segundo<2;segundo++){
        var nombreDiv = "imagen_"+ primero + "cuadro_" + segundo;
        var nombreBoton = "imagen_"+ primero + "boton_" + segundo;
        var imagenValor = primero;
        nombresDivs.push(nombreDiv);
        nombresBoton.push(nombreBoton);
        imagen.push(imagenValor);
      }
    }

    for (var i = 0; i < nombresBoton.length; i++) {
      var elementoDiv = nombresDivs[i];
      var elementoBoton = nombresBoton[i];
      var valorImagen = imagen[i];
      var divanterior = "";
      var claseBoton0 = "";

      // Crear una función de nivel superior que capture las variables
      function generarFuncion(elementoDiv, elementoBoton, valorImagen) {
        return function() {

          $("#" + elementoDiv).toggle(false);
          var claseBoton1 = "boton_imagen_" + valorImagen;

          console.log(claseBoton0);
          console.log(claseBoton1);

          if (claseBoton0 === ""){
            console.log("PRIMER CASO");
            claseBoton0 = "boton_imagen_" + valorImagen;
            divanterior = elementoDiv;
          }else{
            if (claseBoton0 === claseBoton1){
              console.log("SEGUNDO CASO");
              console.log("TIENEN IGUAL CLASEEE");

            }else if (claseBoton0 !== claseBoton1){
              console.log("TERCER CASO");
              console.log("NO TIENEN IGUAL CLASEEE");

              setTimeout(function() {
                // Tu código después de la pausa (se ejecutará después de 2 segundos)
                $("#" + divanterior).toggle(true);
                $("#" + elementoDiv).toggle(true);
              }, 1000);
            }
            claseBoton0 = "";

          }

          //claseBoton0 = "boton_imagen_" + valorImagen;
          //divanterior = elementoDiv;



          /*
          if (claseBoton0 === claseBoton1){
            console.log("TIENEN IGUAL CLASEEE");
            claseBoton0 = "0";
            claseBoton1 = "1";
            console.log(claseBoton0);
            console.log(claseBoton1);
          }else if ((claseBoton0 !== "0" && claseBoton1 != "1") || (claseBoton0 !== "0")){
            console.log("ENTRE AL ELSE IF");
            $("#" + elementoDiv).toggle(true);
            $("#" + divanterior).toggle(true);
          }

          claseBoton0 = "boton_imagen_" + valorImagen;
          divanterior = elementoDiv;*/



          /*for (var primero = 0; primero < cantidadElementos; primero++) {
            for (var segundo = 0; segundo < 2; segundo++) {
              var nombreDiv1 = "imagen_" + primero + "cuadro_" + segundo;
              if (nombreDiv1 !== elementoDiv) {
                $("#" + nombreDiv1).toggle(true);
              }
            }
          }*/

        };
      }

      // Asignar la función generada al evento clic del botón
      $("#" + elementoBoton).click(generarFuncion(elementoDiv, elementoBoton, valorImagen));
    }


  });



</script>
</body>
</html>