<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EL JUEGO DE LA MEMORA</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0
.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min
.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/p
opper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.
min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container mt-3">
    <h1  class="mt-3" style="font-weight: bold">El juego de la memoria</h1>
    <h4 class="mt-3" id ="contadorpokemonsss" style="font-weight: bold">Total de imagenes seleccionadas: 0</h4>

    <div class="container-fluid" id="divpalab">
        <label for="subir" class="btn mt-3 labfor"
               style="background-color: green; color: white">Agregar Imagenes</label>
        <input type="file" id="subir" accept="image/png" style="display: none">
    </div>
    <div class="row flex-box" id="imagenes"></div>
    <div class="container" style="justify-content:center;justify-items: center;display: flex;">
        <button type="button" class="btn btn-success" id="comenzar">Comenzar Juego</button>
    </div>

    <h6 class="mt-5" style="font-weight: bold">Este es el tablero de Juego</h6>
    <div id="tablero2">
        <div class="flex-box" id="tablero22">

            <div class="filas" style="display: flex;">

            </div>
        </div>


    </div>
    <div id="stargame2"></div>
    <div id="Randomize">

    </div>
    <div id="Ayuda">
    </div>


    <button type="button" class="btn btn-primary" style="padding: 0; margin: 5px;" id="botonprueba">
        <div style="display: flex;">
            <div style="position: relative; margin: 5px;">
                <img src="/abra.png" style="height: 100px; width: 100px;">
            </div>
            <div style="height: 100px; width: 100px;margin: 5px; background: cornflowerblue; position: absolute;display: block" id="cuadroprueba"></div>
        </div>
    </button>


</div>
<script>

    $(document).ready(function (){
        var numerodePokemones = 0;
        var contadortotalimagenes = 0;
        let principal = document.getElementById('imagenes');
        let imagenasubir = document.getElementById('subir');
        let labeldelinput = $(".labfor");
        var divforlab = document.getElementById("divpalab");
        const limite = 15;
        var tablero = document.getElementById("tablero");
        imagenasubir.addEventListener('change',(event)=>{
            const file = event.target.files[0]

            var creaDivmenor = document.createElement("div");
            creaDivmenor.classList.add('col-md-3','mt-3');
            creaDivmenor.id = contadortotalimagenes+1;

            var divparaboton = document.createElement("div");
            divparaboton.classList.add('container-fluid');
            divparaboton.style.display = 'flex';
            divparaboton.style.justifyContent='flex-end';
            divparaboton.id= "divparaboton";

            var botonborrar = document.createElement("button");
            botonborrar.style.backgroundColor='white';
            botonborrar.textContent='X';
            botonborrar.id= contadortotalimagenes+1;
            botonborrar.classList.add("botonborrar");

            divparaboton.appendChild(botonborrar);
            creaDivmenor.appendChild(divparaboton);

            var imagenpuesta = document.createElement("img");
            imagenpuesta.classList.add('img-fluid');
            imagenpuesta.classList.add('pokemonimagen');
            imagenpuesta.id = 'pokemon'+contadortotalimagenes+1;
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(e) {
                imagenpuesta.src = e.target.result;
            }

            numerodePokemones++;
            contadortotalimagenes++;

            var contadorhtml = document.getElementById("contadorpokemonsss");
            contadorhtml.textContent = "Total de imágenes selecciondas: " +numerodePokemones;

            creaDivmenor.appendChild(imagenpuesta);
            principal.appendChild(creaDivmenor);


            botonborrar.addEventListener('click',()=>{
                alert(("BOTONN FUNCIONAAA"+botonborrar.id));
               $(creaDivmenor).remove();
                numerodePokemones--;
                contadorhtml.textContent ="Total de imágenes seleccionadas: "+numerodePokemones;
                if(numerodePokemones<limite){
                    var labb = document.querySelector(".labfor");
                    if (labb){
                        alert("GMDAMWDOASOD");
                    }
                    else {
                        $(divforlab).prepend('<label for="subir" class="btn mt-3 labfor" style="background-color: green; color: white">Agregar Imagenes</label>');
                    }
                }
                var listaimagenes = document.querySelectorAll("img.pokemonimagen");
                console.log(listaimagenes);
            })

            if(numerodePokemones>=limite){
                labeldelinput.hidden = true;
                var labb = document.querySelector(".labfor");
                alert("Se ha alcanzado el número máximo de imágenes");
                $(labb).remove();
            }
            else{
                var labb = document.querySelector(".labfor");
                if (labb){
                    alert("SIIIII");
                }
                else {
                    divforlab.prepend('<label for="subir" class="btn mt-3 labfor" style="background-color: green; color: white">Agregar Imagenes</label>')
                }
            }
        });

        var botoncomenzar = document.getElementById("comenzar");
        botoncomenzar.addEventListener('click',(event)=>{
            //lista de imagenes es el arreglo con los elementos img
            var listaimagenes = document.querySelectorAll("img.pokemonimagen");
            if(listaimagenes.length===0){
                alert("No se ha subido ninguna imagen");
            }else {
                alert("La cantidad de imagenes subidas es: "+listaimagenes.length);
            }
            var cantidadDeFotos = listaimagenes.length;
            alert("Cantidad de fotos: "+cantidadDeFotos);
            var columnas;
            var filas;
            var divfilas = $(".filas");
            for(var i=1;i<=cantidadDeFotos;i++){
                var cociente = cantidadDeFotos/i;
                if((Math.abs(cociente-i)===1) || (cociente===i)){
                    if (i%2 === 1 ){
                        columnas = i;
                        filas = cociente;
                    }else if (cociente%2 === 1){
                        columnas = cociente;
                        filas = i;
                    }
                    alert("columnas: "+columnas+", filas: "+filas);
                    break;
                }else if (i===cantidadDeFotos-1){
                    alert("Else if: columnas: "+columnas+", filas: "+filas);
                    columnas=0;
                    filas=0;
                    break;
                }
            }

        })




        $("#pruebad").click(function (){
            var cantidadDeFotos = $("#cantidadDeFotos").val();
            var columnas;
            var filas;
            var divfilas = $(".filas");

            for(var i=1;i<=cantidadDeFotos;i++){
                var cociente = cantidadDeFotos/i;
                if((Math.abs(cociente-i)===1) || (cociente===i)){
                    if (i%2 === 1 ){
                        columnas = i;
                        filas = cociente;
                    }else if (cociente%2 === 1){
                        columnas = cociente;
                        filas = i;
                    }
                    $("#stargame").css('display','block');
                    break;
                }else if (i===cantidadDeFotos-1){
                    columnas=0;
                    filas=0;
                    break;
                }
            }
        });

        var imagenes = [
            "static/Abra.png",
            "static/Aerodactyl.png",
            "static/arbok.png",
            "static/Arcanine.png",
            "static/Beedrill.png",
            "static/Charizard.png"
        ];

        var cantidadElementos = imagenes.length;

        // Función para generar el código HTML de cada imagen
        function generarHTMLImagen(ruta) {
            return '<img src="' + ruta + '" style="height: 100px; width: 100px;">';
        }

        function generarBoton(imagenHTML,index,iterador){
            return '<button type="button" class="btn btn-primary boton_imagen_' + index + '"  id="imagen_' + index + 'boton_' + iterador + '" style="padding: 0; margin: 5px;">\n' +
                '    <div style="display: flex;">\n' +
                '      <div style="position: relative; margin: 5px;">\n' +
                imagenHTML +
                '      </div>\n' +
                '      <div style="height: 100px; width: 100px;margin: 5px; background: cornflowerblue; position: absolute;display: block" ' +
                'id="imagen_' + index + 'cuadro_' + iterador + '"></div>\n' +
                '    </div>\n' +
                '  </button>';
        }

        // Recorrer el array de imágenes y agregar los elementos al contenedor deseado
        var $contenedor = $(".filas"); // Reemplaza ".filas" con el selector de tu contenedor
        $.each(imagenes, function(index, imagen) {
            for(var iterador=0;iterador<2;iterador++){
                var imagenHTML = generarHTMLImagen(imagen);
                var botonHTML = generarBoton(imagenHTML,index,iterador);
                $contenedor.append(botonHTML);

                $(".boton_imagen_"+index).each(function() {
                    var buttonId = $(this).attr("id");
                    var divId = buttonId.replace("boton", "cuadro");

                    console.log("ID del botón: " + buttonId);
                    console.log("ID del div dentro del botón: " + divId);

                    $("#"+buttonId).click(function (){
                        $("#"+divId).toggle();
                    });
                });
            }
        });
    });


</script>
</body>
</html>