<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EL JUEGO DE LA MEMORA</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0
.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min
.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/p
opper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.
min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container mt-3">
    <h1  class="mt-3" style="font-weight: bold">El juego de la memoria</h1>
    <h4 class="mt-3" id ="contadorpokemonsss" style="font-weight: bold">Total de imagenes seleccionadas: 0</h4>
    <form id="formulario-imagen" enctype="multipart/form-data">
    <div class="container-fluid" id="divpalab">
        <label for="subir" class="btn mt-3 labfor"
               style="background-color: green; color: white">Agregar Imagenes</label>
        <input type="file" id="subir" name="upload" accept="image/png" style="display: none">
    </div>
    </form>
    <div class="row flex-box" id="imagenes"></div>
    <div class="container" style="justify-content:center;justify-items: center;display: flex;">
        <button type="button" class="btn btn-success" id="comenzar">Comenzar Juego</button>
    </div>

    <h6 class="mt-5" style="font-weight: bold">Este es el tablero de Juego</h6>
    <div id="tablero2">
        <div class="flex-box" id="tablero22">

            <div class="container filas">

            </div>
        </div>


    </div>
    <div id="stargame2"></div>
    <div id="Randomize">

    </div>
    <div id="Ayuda">
    </div>


</div>
<script>

    $(document).ready(function (){
        // Función para generar el código HTML de cada imagen
        function generarHTMLImagen(ruta) {
            return '<img src="' + ruta + '" style="height: 100px; width: 100px;">';
        }

        function generarHTMLImagen2(ruta){
            var elementoimagen = document.createElement("img");
            elementoimagen.style.height = '100px';
            elementoimagen.style.width = '100px';
            elementoimagen.src = ruta;
            return elementoimagen;
        }

        function generarBoton(imagenHTML,index,iterador){
            return '<button type="button" class="btn btn-primary boton_imagen_' + index + '"  id="imagen_' + index + 'boton_' + iterador + '" style="padding: 0; margin: 5px;">\n' +
                '    <div style="display: flex;">\n' +
                '      <div style="position: relative; margin: 5px;">\n' +
                imagenHTML +
                '      </div>\n' +
                '      <div style="height: 100px; width: 100px;margin: 5px; background: cornflowerblue; position: absolute;display: block" ' +
                'id="imagen_' + index + 'cuadro_' + iterador + '"></div>\n' +
                '    </div>\n' +
                '  </button>';
        }

        function generarBoton2(imagenHTML,index,iterador){
            var elementoBoton = document.createElement("button");
            elementoBoton.type = "button";
            var classboton = "btn btn-primary boton_imagen_" + index + '"';
            elementoBoton.classList.add('btn','btn-primary','boton_imagen_'+index);
            elementoBoton.id = "imagen_"+index+"boton_"+iterador;
            elementoBoton.style.padding = '0';
            elementoBoton.style.margin = '0';
            var minidiv1 = document.createElement("div");
            minidiv1.style.position = 'relative';
            minidiv1.style.margin ='5px';
            var minidiv2  = document.createElement("div");
            minidiv2.style.display = 'flex';
            var minidiv3 = document.createElement("div");
            minidiv3.style.height = '100px';
            minidiv3.style.width = '100px';
            minidiv3.style.margin = '5px';
            minidiv3.style.background = 'cornflowerblue';
            minidiv3.style.position = 'absolute';
            minidiv3.style.display = 'block';
            minidiv3.id = 'imagen_'+index+'cuadro_'+iterador;
            minidiv1.appendChild(imagenHTML);
            minidiv2.appendChild(minidiv1);
            minidiv2.appendChild(minidiv3);
            elementoBoton.appendChild(minidiv2);
            return elementoBoton;

        }

        var numerodePokemones = 0;
        var contadortotalimagenes = 0;
        let principal = document.getElementById('imagenes');
        let imagenasubir = document.getElementById('subir');
        let labeldelinput = $(".labfor");
        var divforlab = document.getElementById("divpalab");
        const limite = 15;
        var tablero = document.getElementById("tablero");
        imagenasubir.addEventListener('change',(event)=>{
            const file = event.target.files[0]

            var creaDivmenor = document.createElement("div");
            creaDivmenor.classList.add('col-md-3','mt-3');
            creaDivmenor.id = contadortotalimagenes+1;

            var divparaboton = document.createElement("div");
            divparaboton.classList.add('container-fluid');
            divparaboton.style.display = 'flex';
            divparaboton.style.justifyContent='flex-end';
            divparaboton.id= "divparaboton";

            var botonborrar = document.createElement("button");
            botonborrar.style.backgroundColor='white';
            botonborrar.textContent='X';
            botonborrar.id= contadortotalimagenes+1;
            botonborrar.classList.add("botonborrar");

            divparaboton.appendChild(botonborrar);
            creaDivmenor.appendChild(divparaboton);

            var imagenpuesta = document.createElement("img");
            imagenpuesta.classList.add('img-fluid');
            imagenpuesta.classList.add('pokemonimagen');
            imagenpuesta.id = 'pokemon'+contadortotalimagenes+1;
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(e) {
                imagenpuesta.src = e.target.result;
            }

            numerodePokemones++;
            contadortotalimagenes++;

            var contadorhtml = document.getElementById("contadorpokemonsss");
            contadorhtml.textContent = "Total de imágenes selecciondas: " +numerodePokemones;

            creaDivmenor.appendChild(imagenpuesta);
            principal.appendChild(creaDivmenor);


            botonborrar.addEventListener('click',()=>{
               $(creaDivmenor).remove();
                numerodePokemones--;
                contadorhtml.textContent ="Total de imágenes seleccionadas: "+numerodePokemones;
                if(numerodePokemones<limite){
                    var labb = document.querySelector(".labfor");
                    if (labb){
                    }
                    else {
                        $(divforlab).prepend('<label for="subir" class="btn mt-3 labfor" style="background-color: green; color: white">Agregar Imagenes</label>');
                    }
                }
                var listaimagenes = document.querySelectorAll("img.pokemonimagen");
                console.log(listaimagenes);
            })

            if(numerodePokemones>=limite){
                labeldelinput.hidden = true;
                var labb = document.querySelector(".labfor");
                alert("Se ha alcanzado el número máximo de imágenes");
                $(labb).remove();
            }
            else{
                var labb = document.querySelector(".labfor");
                if (labb){
                }
                else {
                    divforlab.prepend('<label for="subir" class="btn mt-3 labfor" style="background-color: green; color: white">Agregar Imagenes</label>')
                }
            }
        });

        var botoncomenzar = document.getElementById("comenzar");
        botoncomenzar.addEventListener('click',(event)=>{
            //lista de imagenes es el arreglo con los elementos img
            var listaimagenes = document.querySelectorAll("img.pokemonimagen");
            if(listaimagenes.length===0){
                alert("No se ha subido ninguna imagen");
            }else {
                //alert("La cantidad de imagenes subidas es: "+listaimagenes.length);
            }
            var cantidadDeFotos = 2*(listaimagenes.length);
            //alert("Cantidad de fotos: "+cantidadDeFotos);
            var columnas;
            var filas;
            var tabien = 0;
            var divfilas = $(".filas");
            for(var i=1;i<=cantidadDeFotos;i++){
                var cociente = cantidadDeFotos/i;
                if((Math.abs(cociente-i)===1) || (cociente===i)){
                    if (i%2 === 1 ){
                        columnas = i;
                        filas = cociente;
                    }else if (cociente%2 === 1){
                        columnas = cociente;
                        filas = i;
                    }else if (cociente === i){
                        columnas = i;
                        filas = i;
                    }
                    tabien = 1;
                    //alert("columnas: "+columnas+", filas: "+filas);
                    break;
                }else if (i===cantidadDeFotos-1){
                    columnas=0;
                    filas=0;
                    //alert("Else if: columnas: "+columnas+", filas: "+filas);
                    break;
                }
            }
            if(tabien===1){
                // Recorrer el array de imágenes y agregar los elementos al contenedor deseado
                var contener = document.querySelector(".filas"); // Reemplaza ".filas" con el selector de tu contenedor
                console.log("Columnas: "+ columnas+ ", Filas: ",filas );
                //$.each(listaimagenes, function(index, imagen) {
                    //for(var iterador=0;iterador<2;iterador++){
                        for (var row=1; row<=filas;row++){
                            var minirow = document.createElement("div");
                            minirow.classList.add("row","mt-3");
                            for(var column =1; column<=columnas;column++){
                                var index = columnas*(row-1)+column;
                                var col = document.createElement("div");
                                col.classList.add("col-md-4","mt-3");
                                console.log("index"+index);
                                //console.log(listaimagenes[index-1]);
                                var j = index-1;
                                if (j>=listaimagenes.length){
                                    j =j-listaimagenes.length;

                                }
                                console.log("J: "+j);
                                var imagenHTML = generarHTMLImagen2(listaimagenes[j].src);
                                var botonHTML = generarBoton2(imagenHTML,j,'it'+row+column);
                                col.appendChild(botonHTML);
                                minirow.appendChild(col);

                            }
                            contener.appendChild(minirow);
                        }
                        var imagenseleccionada = 0;
                        var idimagenseleccionada;
                        var iddivseleccionado;
                        var imageneshalladas = [];
                        var numerosseleccionado = 0;
                        var igualclase;


                        for (var k = 0;k<=listaimagenes.length;k++){
                            $(".boton_imagen_"+k).each(function() {
                                console.log("Entro boton"+j);
                                var buttonId = $(this).attr("id");
                                var divId = buttonId.replace("boton", "cuadro");
                                console.log("ID del botón: " + buttonId);
                                console.log("ID del div dentro del botón: " + divId);

                                $("#"+buttonId).click(function (){
                                    if(numerosseleccionado===0){
                                        if (imagenseleccionada===0){
                                            $("#"+divId).toggle();
                                            imagenseleccionada=1;
                                            idimagenseleccionada =buttonId;
                                            iddivseleccionado = divId;
                                            numerosseleccionado++;
                                            igualclase = $(this).attr("class");
                                            console.log(igualclase);
                                        }
                                    }
                                    if(numerosseleccionado===1){
                                        if(imagenseleccionada===1){
                                            if(buttonId===idimagenseleccionada){

                                            }else {
                                                $("#"+divId).toggle();
                                                var classe = $(this).attr("class");
                                                if(classe ===igualclase){
                                                    alert("SIUUUU")
                                                    imagenseleccionada =0;
                                                    idimagenseleccionada ="";
                                                    iddivseleccionado = "";
                                                    numerosseleccionado--;
                                                }
                                                else {
                                                    imagenseleccionada =0;
                                                    idimagenseleccionada ="";
                                                    iddivseleccionado = "";
                                                    setTimeout(() => {
                                                        $("#"+divId).toggle();
                                                        $("#"+iddivseleccionado).toggle();
                                                        numerosseleccionado--;
                                                    }, 2000);
                                                }
                                                //$("#"+divId).toggle();
                                                //$("#"+iddivseleccionado).toggle();
                                                //for (var p =0;p<=listaimagenes.length;p++){
                                                //  $(".boton_imagen_"+p).each(function() {
                                                //    var buttonIdvolt = $(this).attr("id");
                                                //  var divIdvolt = buttonIdvolt.replace("boton", "cuadro");
                                                //$("#" + divIdvolt).toggle();
                                                //})
                                                //}
                                            }
                                        }
                                    }

                                });
                            });
                        }


                    //}
                //});

            }

        });

    });


</script>
</body>
</html>